<body>

    <!-- NAVBAR
    ================================================== -->
    <style>
        /* use navbar-wrapper to wrap navigation bar, the purpose is to overlay navigation bar above slider */
        .navbar-wrapper {
            position: absolute;
            top: 20px;
            left: 0;
            width: 100%;
            height: 51px;
        }
        .navbar-wrapper > .container {
            padding: 0;
        }

        @media all and (max-width: 768px ){
            .navbar-wrapper {
                position: relative;
                top: 0px;
            }
        }
    </style>

    <div class="navbar-wrapper">
        <div class="container">

            <!--nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0px;"-->
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0px;">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                          <img  src="img/Inicio/slogan.png"  width="30" height="30" />
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                <li class="dropdown">
                        <a href="" class="dropdown-toggle">NOSOTROS<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="">¿ Quienes somos ?</a></li>
                          <li><a href="">Another action</a></li>
                          <li><a href="">Something else here</a></li>
                          <!--li class="divider"></li-->
                          <li><a href="https://www.henry-chavez.com">Separated link</a></li>
                          <li class="dropdown">
                            <a href="" class="dropdown-toggle">Dropdown <b class="caret right"></b></a>
                            <ul class="dropdown-menu">
                              <li><a href="">Action</a></li>
                              <li><a href="">Another action</a></li>
                              <li><a href="">Something else here</a></li>
                              <!--li class="divider"></li-->
                              <li><a href="https://www.henry-chavez.com">Separated link</a></li>
                            </ul>
                        </li>
                        </ul>
                  </li>
                  <li class="dropdown">
                        <a href="" class="dropdown-toggle">PLÁSTICA<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="">¿ Quienes somos ?</a></li>
                          <li><a href="">Another action</a></li>
                          <li><a href="">Something else here</a></li>
                          <!--li class="divider"></li-->
                          <li><a href="https://www.henry-chavez.com">Separated link</a></li>
                          <li class="dropdown">
                            <a href="" class="dropdown-toggle">Dropdown </a>
                            <!--ul class="dropdown-menu">
                              <li><a href="">Action</a></li>
                              <li><a href="">Another action</a></li>
                              <li><a href="">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a href="https://www.henry-chavez.com">Separated link</a></li>
                            </ul-->
                        </li>
                        </ul>
                  </li>
                  <li class="dropdown">
                        <a href="" class="dropdown-toggle">DERMATOLOGÍA<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="">¿ Quienes somos ?</a></li>
                          <li><a href="">Another action</a></li>
                          <li><a href="">Something else here</a></li>
                          <!--li class="divider"></li-->
                          <li><a href="https://www.henry-chavez.com">Separated link</a></li>
                          <li class="dropdown">
                            <a href="" class="dropdown-toggle">Dropdown </a>
                            <!--ul class="dropdown-menu">
                              <li><a href="">Action</a></li>
                              <li><a href="">Another action</a></li>
                              <li><a href="">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a href="https://www.henry-chavez.com">Separated link</a></li>
                            </ul-->
                        </li>
                        </ul>
                  </li>
                  <li class="dropdown">
                        <a href="" class="dropdown-toggle">NUTRICIÓN<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="">¿ Quienes somos ?</a></li>
                          <li><a href="">Another action</a></li>
                          <li><a href="">Something else here</a></li>
                          <!--li class="divider"></li-->
                          <li><a href="https://www.henry-chavez.com">Separated link</a></li>
                          <li class="dropdown">
                            <a href="" class="dropdown-toggle">Dropdown </a>
                            <!--ul class="dropdown-menu">
                              <li><a href="">Action</a></li>
                              <li><a href="">Another action</a></li>
                              <li><a href="">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a href="https://www.henry-chavez.com">Separated link</a></li>
                            </ul-->
                        </li>
                        </ul>
                  </li>
                  <li class="dropdown">
                        <a href="" class="dropdown-toggle">CONTACTO<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="">¿ Quienes somos ?</a></li>
                          <li><a href="">Another action</a></li>
                          <li><a href="">Something else here</a></li>
                          <!--li class="divider"></li-->
                          <li><a href="https://www.henry-chavez.com">Separated link</a></li>
                          <li class="dropdown">
                            <a href="" class="dropdown-toggle">Dropdown </a>
                            <!--ul class="dropdown-menu">
                              <li><a href="">Action</a></li>
                              <li><a href="">Another action</a></li>
                              <li><a href="">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a href="https://www.henry-chavez.com">Separated link</a></li>
                            </ul-->
                        </li>
                        </ul>
                  </li>
                  <li class="dropdown">
                        <a href="" class="dropdown-toggle">BLOG<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="">¿ Quienes somos ?</a></li>
                          <li><a href="">Another action</a></li>
                          <li><a href="">Something else here</a></li>
                          <!--li class="divider"></li-->
                          <li><a href="https://www.henry-chavez.com">Separated link</a></li>
                          <li class="dropdown">
                            <a href="" class="dropdown-toggle">Dropdown </a>
                            <!--ul class="dropdown-menu">
                              <li><a href="">Action</a></li>
                              <li><a href="">Another action</a></li>
                              <li><a href="">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a href="https://www.henry-chavez.com">Separated link</a></li>
                            </ul-->
                        </li>
                        </ul>
                  </li>
                            <!--li><a href="http://www.jssor.com/slider-maker/index.html">Slider Maker</a></li>
                            <li><a href="http://www.jssor.com/demos/index.html">Demos</a></li>
                            <li><a href="http://www.jssor.com/skins/index.html">Skins</a></li>
                            <li><a href="http://www.jssor.com/development/index.html">Development</a></li>
                            <li><a href="http://www.jssor.com/download.html">Download</a></li>
                            <li><a href="http://www.jssor.com/support.html">Support</a></li-->
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </div>
    <div class= "conatiner">
    <div style="min-height: 50px;">
        <!-- Jssor Slider Begin -->
        <!-- To move inline styles to css file/block, please specify a class name for each element. --> 
        <!-- ================================================== -->
        <div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto;
        top: 0px; left: 0px; width: 1198px; height: 441px; overflow: hidden;">
            <!-- Loading Screen -->
            <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block;
                top: 0px; left: 0px; width: 100%; height: 100%;">
                </div>
                <div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;
                top: 0px; left: 0px; width: 100%; height: 100%;">
                </div>
            </div>
            <!-- Slides Container -->
            <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1198px; height: 441px; overflow: hidden;">
                <div>
                    <img u="image" src2="img/Inicio/Banner_Inicio_Aumento_Busto.png" />
                </div>
                <div>
                    <img u="image" src2="img/1920/purple.jpg" />
                </div>
                <div>
                    <img u="image" src2="img/1920/blue.jpg" />
                </div>
            </div>
             <!--div>
                    <img src="img/Inicio/Promocion-01.png" />
                </div-->
       
            <!--#region Bullet Navigator Skin Begin -->
            <!-- Help: http://www.jssor.com/development/slider-with-bullet-navigator-jquery.html -->
            <style>
                /* jssor slider bullet navigator skin 21 css */
                /*
                .jssorb21 div           (normal)
                .jssorb21 div:hover     (normal mouseover)
                .jssorb21 .av           (active)
                .jssorb21 .av:hover     (active mouseover)
                .jssorb21 .dn           (mousedown)
                */
                .jssorb21 {
                    position: absolute;
                }
                .jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
                    position: absolute;
                    /* size of bullet elment */
                    width: 19px;
                    height: 19px;
                    text-align: center;
                    line-height: 19px;
                    color: white;
                    font-size: 12px;
                    background: url(img/b21.png) no-repeat;
                    overflow: hidden;
                    cursor: pointer;
                }
                .jssorb21 div { background-position: -5px -5px; }
                .jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
                .jssorb21 .av { background-position: -65px -5px; }
                .jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }
            </style>
            <!-- bullet navigator container -->
            <!--div u="navigator" class="jssorb21" style="bottom: 26px; right: 6px;">
              
                <div u="prototype"></div>
            </div-->
            <!--#endregion Bullet Navigator Skin End -->
            
            <!--#region Arrow Navigator Skin Begin -->
            <!-- Help: http://www.jssor.com/development/slider-with-arrow-navigator-jquery.html -->
            <style>
                /* jssor slider arrow navigator skin 21 css */
                /*
                .jssora21l                  (normal)
                .jssora21r                  (normal)
                .jssora21l:hover            (normal mouseover)
                .jssora21r:hover            (normal mouseover)
                .jssora21l.jssora21ldn      (mousedown)
                .jssora21r.jssora21rdn      (mousedown)
                */
                .jssora21l, .jssora21r {
                    display: block;
                    position: absolute;
                    /* size of arrow element */
                    width: 55px;
                    height: 55px;
                    cursor: pointer;
                    background: url(img/a21.png) center center no-repeat;
                    overflow: hidden;
                }
                .jssora21l { background-position: -3px -33px; }
                .jssora21r { background-position: -63px -33px; }
                .jssora21l:hover { background-position: -123px -33px; }
                .jssora21r:hover { background-position: -183px -33px; }
                .jssora21l.jssora21ldn { background-position: -243px -33px; }
                .jssora21r.jssora21rdn { background-position: -303px -33px; }
            </style>
            <!-- Arrow Left -->
            <span u="arrowleft" class="jssora21l" style="top: 123px; left: 8px;">
            </span>
            <!-- Arrow Right -->
            <span u="arrowright" class="jssora21r" style="top: 123px; right: 8px;">
            </span>
            <!--#endregion Arrow Navigator Skin End -->
            <a style="display: none" href="http://www.jssor.com"></a>
      
        </div>
        <!-- Jssor Slider End -->
      
    </div>

    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <!--div class="container marketing"-->
    <div class="container">

        <!--hr class="featurette-divider"-->

    <!-- HACE FALTA PONER COMO  CHIN.. PUEDO PONER LA IMAGEN EN EL BANNER SY QUE SEA RESPONSIVE-->
        <!--div class="row featurette">
              <div class="container" id = "promocion">
        <div class="col-md-5">
                <img class="featurette-image img-responsive"  src="img/Inicio/Promocion-01.png" alt="Generic placeholder image">
            </div>
        </div>
            <hr>
            <div class="col-md-7" id = "texto1" >
                <h2 class="featurette-heading">¡BIENVENIDA! </h2>
                <p class="lead"><p>
             VARE® México le da la más cordial bienvenida y le invita a navegar. Esta web se ha construido para usted, para que obtenga infomación clara, veraz y concisa de temas sobre Belleza Corporal, Estética, Cirugía Plástica, Dermatología y mucho más. Obtenga el beneficio de mejorar su apariencia y bienestar
            </p>
            </div>
        </div-->

        
        <div class="row featurette">
             <div class="col-md-5">
                <!--img class="featurette-image img-responsive"  src="img/Inicio/Promocion-01.png" alt="Generic placeholder image-->
                <img src="img/Inicio/Promocion-01.png"
                     srcset="img/Inicio/Promocion-01.png 480w,
                              img/Inicio/Promocion-01.png 1024w,
                              img/Inicio/Promocion-01.png 1024w 2x"
                              sizes ="(min-width:1024px) 80vw, 100vw">
            </div>
            <div class="col-md-7">
              <hr>
               <h2 class="featurette-heading">¡BIENVENIDA! </h2>
                <p class="lead"><p id ="parrafo1">
             VARE® México le da la más cordial bienvenida y le invita a navegar. Esta web se ha construido para usted, para que obtenga infomación clara, veraz y concisa de temas sobre Belleza Corporal, Estética, Cirugía Plástica, Dermatología y mucho más. Obtenga el beneficio de mejorar su apariencia y bienestar
            </p>
                </div>
            </div>
        </div>

         <div class ="container">
          <hr>
          <div class ="panel panel-default">
           <div class="panel-body">
             <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
               SUSCRIBIRTE
             </button>
              <div class="col-xs-5">
                <input type="text" class="form-control" id="correo" value = "" placeholder ="Correo electronico">
              </div>
           </div>
         </div>
         </div>
       
<div class = "container">
   <hr>
  <div class = "row">
       <!--div class = "span12"-->
  <div class = "row">
    <div class="col-md-3">
      <div   class="page-header">
    <th >
      APROVECHA
    </th>
     </div>
      <p>
         Para usted, para que obtenga
         información clara 
      </p>
    </div>
  <!--/div-->
  
    <div class="col-md-3">
      <div class="page-header">
    <th>
      IMAGÍNA
    </th>
     </div>
  <p>
  Para usted, para que obtenga
información clara
  </p>
  </div>
    <div class="col-md-3">
      <div class="page-header">
    <th>
      COMPRA
    </th>
    </div>
  <p>
  Para usted, para que obtenga
información clara
  </p>
  </div>
  <div class="col-md-3">
  <div class="page-header">
    <th>
      VIDEO
    </th>
    </div>
  <p>
  </p>
  </div>
  </div>
     <!--/div-->
  </div>
</div>

<div class = "container">
  <hr>
  <div class="jumbotron">
    <h2>TESTIMONIOS</h2>
    </div>
  </div>
<br/><br/>
  <div class = "container">

   <div class = "col-md-6">
     <th>
      La Cirugía que se me practico, me cambio la forma de ver la vida.
    </th>
    <td><img src="img/heart.PNG" alt="..." class="img-rounded"></td>
   
    <br /><br />
  <p>
  <strong>
  ANEL NUÑEZ
   </strong>
  </p>
  </div>
     <div class = "col-md-4">
    <th>
      La experiencia supero mis expectativas
    </th>
      <td><img src="img/FACE.PNG" alt="..." class="img-rounded"></td>
    <br /><br />
  <p>
  <strong>
     CARLOTA CUELLAR
    </strong>
  </p>
  </div>
   </div>
   <br /><br />
   <div class = "container">
    <table>
     <div class = "col-md-6" id="contacto">
      <strong id="contacto1"> CONTACTO </strong>
      <br /><br />
       <div >

        <input type="text" class="form-control" id="nombre" value = "" placeholder ="Nombre">
        <input type="text" class="form-control" id="nombre" value = "" placeholder ="Correo">
        <input type="text" class="form-control" id="nombre" value = "" placeholder ="Mensaje">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Enviar
     </button>

       </div>
    </div>

  </table>
       <div class = "col-md-4">
      <th>
        BLOG
      </th>
      <br /><br />
    <p>
      Beneficios 
         de una sana
         alimentación
      
    </p>
    </div>
   </div>
   <div class = "container">
     <table  class="table table-responsive">

      </table>
   </div>

   <div class ="container">
    <table class ="table table-responsive">
           <div id="header3">
              <div id="ban2">
              <div id="map">
              <iframe width="1200" height="280" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.546006141537!2d-99.18245815779132!3d19.432012153215123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f8acf9328cd5%3A0xcfa9c2d667a73f85!2sCalz.+Gral.+Mariano+Escobedo+454%2C+Anzures%2C+11590+Ciudad+de+M%C3%A9xico%2C+D.F.!5e0!3m2!1ses!2smx!4v1453325841464" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              <br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=Nicol%C3%A1s+San+Juan+1255,+Colonia+del+Valle,++Benito+Ju%C3%A1rez,+df&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=30.957823,78.662109&amp;ie=UTF8&amp;hq=&amp;hnear=Nicol%C3%A1s+San+Juan+1255,+Del+Valle,+Benito+Ju%C3%A1rez,+Ciudad+de+M%C3%A9xico,+Distrito+Federal,+M%C3%A9xico&amp;ll=19.377794,-99.164915&amp;spn=0.012145,0.029998&amp;z=15&amp;iwloc=A"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=Nicol%C3%A1s+San+Juan+1255,+Colonia+del+Valle,++Benito+Ju%C3%A1rez,+df&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=30.957823,78.662109&amp;ie=UTF8&amp;hq=&amp;hnear=Nicol%C3%A1s+San+Juan+1255,+Del+Valle,+Benito+Ju%C3%A1rez,+Ciudad+de+M%C3%A9xico,+Distrito+Federal,+M%C3%A9xico&amp;ll=19.377794,-99.164915&amp;spn=0.012145,0.029998&amp;z=15&amp;iwloc=A" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
              </div>
            </div>
            </div>
    </table>
   </div>

        <hr class="featurette-divider" id ="hrpie" >
    </div><!-- /.container -->